.buttonBlock{

}

.leftInactiveButton{
    float: left;
    background-color: lightblue;
    border: 1px solid black;
}

.leftActiveButton{
    float: left;
    background-color: lightblue;
    border: 1px solid red;
}

.rightInactiveButton{
    float: right;
    background-color: lightblue;
    border: 1px solid black;
}

.rightActiveButton{
    float: right;
    background-color: lightblue;
    border: 1px solid red;
}

.active {
    border: 1px solid black;
}

.clearFix{
    clear: both;
}

